{% extends 'base.html.twig' %}

{% block title %}Créer un compte - ShareNotes{% endblock %}

{% block body %}
<div class="auth-container">
    <div class="auth-card">

        <img src="S.png" class="auth-logo">

        <h1 class="auth-title">Bienvenue sur ShareNotes!</h1>

        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="auth-error">
                {{ flash_error }}
            </div>
        {% endfor %}

        {{ form_start(registrationForm) }}

        <div class="input-group">
            {{ form_label(registrationForm.email) }}
            {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(registrationForm.email) }}
        </div>

        <div class="input-group">
            {{ form_label(registrationForm.plainPassword) }}
            {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(registrationForm.plainPassword) }}
        </div>

        <div class="input-group">
            {{ form_label(registrationForm.prenom) }}
            {{ form_widget(registrationForm.prenom, {'attr': {'class': 'form-control'}}) }}
            {{ form_errors(registrationForm.prenom) }}
        </div>

        <div class="remember-me">
            {{ form_widget(registrationForm.agreeTerms) }}
            {{ form_label(registrationForm.agreeTerms) }}
            {{ form_errors(registrationForm.agreeTerms) }}
        </div>

        <button type="submit" class="auth-btn">
            Créer mon compte
        </button>

        {{ form_end(registrationForm) }}

        <div class="auth-footer">
            Déjà un compte ?
            <a href="{{ path('app_login') }}">Se connecter</a>
        </div>

    </div>
</div>
{% endblock %}