{% extends 'base.html.twig' %}

{% block title %}Mes notes{% endblock %}

{% block body %}
<div class="app-container">

    <header class="page-header">
        <h1 class="page-title">Notes</h1>
       <a href="{{ path('note_new') }}" class="btn btn-primary rounded-btn mb-3">
    <span class="material-icons">add</span>
</a>

    {% if notes is not empty %}
        {% for note in notes %}
            <article class="note-card">
                <h4 class="note-title">{{ note.title }}</h4>

                <p>
                    {{ note.content|length > 100 
                        ? note.content|slice(0,100)|striptags('<strong><b><em><i><u><ul><ol><li><a>')|raw ~ '...' 
                        : note.content|striptags('<strong><b><em><i><u><ul><ol><li><a>')|raw 
                    }}
                </p>

                <p><small>Statut : {{ note.statut }}</small></p>

                <a href="{{ path('note_show', {'id': note.id}) }}" class="btn btn-primary rounded-btn mt-2">
                    Voir la note
                </a>
            </article>
        {% endfor %}
    {% else %}
        <div class="note-card text-center">
            <p>Oops, vous n'avez encore créé aucune note!</p>
        </div>
    {% endif %}

</div>
{% endblock %}